<div class="hs-post link-and-message col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <a href="<%= link %>" target="_blank">
        <div class="wrapper">
            <div class="overlay"> 
                <p><i class="fa fa-eye"></i> Read Post</p>
            </div>
            <div class="link">
                <div class="image">
                    <img src="<%= image %>"/>
                </div>
                <div class="summary">
                    <h4><%= link_title %></h4>
                    <p class="url"><%= link %></p>
                </div>
            </div>
            <div class="message">
                <p><%= message %></p>
            </div>
        </div>
    </a>
</div>